{% extends 'mainLayout.html.twig' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <h1>Adote</h1>
        <img id="Logo1080x1920" class="center-block img-responsive"src="img/Logo-1080x1920.png" alt="Logo Adopet" width="900px">
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Em breve...</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
